@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Shopping Lists Project</h3>

<p>Create online shopping lists that can be shared by multiple users. Users can work together to collect items from a single list. The application shows which items have been picked and which items are still outstanding. Updates to list item picked/unpicked status are pushed from the server to the browser to provide live updates to each connected client.</p>
