@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="margin-top: 1em;">
    <div class="col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3 visible-sm visible-md visible-lg">
        <img src="~/Content/Images/shoppinglist2.png" />
    </div>
    <div class="col-sm-4 col-md-4">
        <h1 class="title">Shopping Lists</h1>
        <p>Share online shopping lists with friends and family.</p>

        @if (Request.IsAuthenticated) {
            <p>@Html.ActionLink("Click here to show My Lists.", "Index", "ShoppingList")</p>
        } else {
            <div class="v-spacer">
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary" })
            </div>
        }
    </div>
    <div class="col-xs-1 visible-xs">
        <img class="v-spacer" src="~/Content/Images/shoppinglist2.png" />
    </div>
</div>

@*@Html.RenderBootstrapGuide()*@