<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <targets>
        <target name="file" xsi:type="File"
                layout="${longdate} ${level:uppercase=true} ${callsite} ${message} ${exception:format=ToString,StackTrace}"
                fileName="${specialfolder:folder=CommonApplicationData}\ShoppingLists.Web\log\${machinename}-ShoppingLists.Web.log"
                keepFileOpen="false"
                maxArchiveFiles="100"
                archiveFileName="${specialfolder:folder=CommonApplicationData}\ShoppingLists.Web\log\archives\${machinename}-ShoppingLists.Web.log.old{#####}"
                archiveAboveSize="10485760"
                archiveNumbering="Sequence"
                concurrentWrites="true"
                encoding="iso-8859-2" />
        <target name="debugger" xsi:type="debugger"
            layout="${longdate} ${level:uppercase=true} ${callsite} ${message} ${exception:format=ToString,StackTrace}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file,debugger" />
    </rules>
</nlog>