<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.25" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="LightInject" version="3.0.1.7" targetFramework="net451" />
  <package id="LightInject.Mocking" version="1.0.0.4" targetFramework="net451" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net451" />
</packages>